<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite thread-count="5" verbose="1" name="Suite" annotations="JDK"  parallel="tests">

  <test thread-count="1" name="Test1">
    <classes>
      <class name="com.tests.TC001_GetData_Deepalii"/>
           <class name="com.tests.TC01_AllEmpoyeesGetTest"/>
     
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
